/* GENERAL STYLING */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #353535;
}

/* Input styling */
input[type=date] { 
    left:50%;  
    width: 275px;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

input[name=date] {
    top: 20%;
}

input[name=date2] {
    top: 30%;
}

input[name=date3] {
    top: 40%;
}

input[name=date4] {
    top: 50%;
}

input[type=submit] {
    top: 60%;
    background-color: white;
}

input[type=submit] {
    left: 50%;
}

input[type=date], input[type=submit] {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 40px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

/* Remove default HTML5 date input elements */

input::-webkit-calendar-picker-indicator{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Div */
.motto {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 8vh;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/* Calendar sections */

.calendar {
  display: none;
  background-color: #D2D7DF;
  position: absolute;
  left: 67px;
  top: 90px;
  width: 275px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  border-radius: 5px;
}

.nav {
    background-color: rgba(255,255,255,0.25);
    height: 43px;
}
    
    .nav a {
        line-height: 43px;
        color: #353535;
        display: inline-block;
        text-align: center;
        height: 100%;
        cursor: pointer;
    }

        .prevScreen, .nextScreen {
            width: 43px;
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transition: background-size 0.2s;
                    transition: background-size 0.2s;
        }
        
            .prevScreen:hover, .nextScreen:hover {
                background-size: 50%;
            }


        .prevScreen {
            float: left;
            background-image: url('../img/arrow-left.png');
        }

        .nextScreen {
            float: right;
            background-image: url('../img/arrow-right.png');
        }

    .calendarHeader {
        width: 68%;
        -webkit-transition: font-size 0.2s;
                transition: font-size 0.2s;
    }

        .calendarHeader:hover {
            font-size: 18px;
        }

/* Main table sections */

table td {
  display: inline-block;
  width: 25px;
  margin: 0 4px;
  padding: 3px;
}

.days {
    position: relative;
    width: 100%;
    height: 200px;
    color: #353535;
    padding: 15px 12px;
    padding-bottom: 10px;
}

    .calendarTable {
        width: 100%;
        height: 100%;
        text-align: center;
        border-collapse: separate;
        
    }

    .calendarTable.monthTable {
        padding-top: 10px;
    }

    .calendarTable.yearTable {
        padding-top: 10px;
    }

        .weekDay {
            height: 24px;
            font-size: 11px;
        }

        .calendarDay {
            height: 24px;
            font-size: 14px;
        }

            .calendarDay a {
                color: #353535;
                text-decoration: none;
            }

            .notCurrentMonth a {
                color: #BDBBB0;
            }

            .activeDay {
                background: #BDBBB0;
                border-radius: 50%;
            }

            .activeDay a {
                color: #353535;
            }

        .monthCell, .yearCell {
            font-size: 14px;
            color: #353535;
            width: 45px;
            line-height: 24px;
            padding: 0px 2px;
            background-clip: content-box;
            border-radius: 40px;
            margin: 0 15px;
            -webkit-transition: font-size 0.2s;
                    transition: font-size 0.2s;
        }

        .monthCell:hover, .yearCell:hover {
            font-size: 16px;
        }

            .activeMonth {
                background-color: #BDBBB0;
            }

            .monthCell a, .yearCell a {
                color: #353535;
                text-decoration: none;
            }

        .yearCell {
            margin: 0 5px;
        }

/* Today button */
.todayBtn {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 120px;
    background-color: #353535;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.todayBtn:hover {
    background-color: #8A897C;
}

